<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>聚外卖 - 贴心外卖服务</title>
    <script type="text/javascript" src="$staticsContent.getURI('js/jquery-1.6.4.min.js')" ></script>
    <link href="$staticsContent.getURI('css/common.css')?t=100006" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/core.css')">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/layout.css')">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/classes.css')">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/new/core.css')">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/new/layout.css')">
    <link rel="stylesheet" type="text/css" href="$staticsContent.getURI('css/new/classes.css')">
</head>
<body>
    $control.setTemplate("newHead.vm")
	$control.setTemplate("newHeadMenu.vm")

	$screen_placeholder

	$control.setTemplate("footer.vm")
</body>
</html>