<div id="page">
    <!--
   <div id="place">
        <div class="placecontent">
                <span class="check"><a href="$tasteModule.setTarget('privilegeShopList.vm')">网站首页</a>&nbsp;&nbsp;&gt;</span>
                <span class="time">友情提示</span>
                <div class="clear"></div>
        </div>
    </div>
	-->
    <div class="error">
        <h2>提示信息</h2>
        <div class="error1">
            <div class="error2">
                <h1>$message</h1>
                <p>您正在浏览的页面可能已被删除、重命名或暂时不可用。试试下面几种方法吧。</p>
                <ul>
                    <li>1、请检查您输入的网址是否正确。</li>
                    <li>2、请直接访问<span><a href="$tasteModule">juwaimai首页</a>。</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--
  #if ($error.exception)
    $exceptionUtil.getStackTrace($error.exception)
  #end
-->
